mixin itemgallery(i)
  - var item = page.catalog.items[i - 1]
  .gallery__item(class="gallery__item--" + i)
    a.fancyimage.catalog__img(data-fancybox-group='group', href='#catalog' + i)
      span.catalog__link!= item.link.text
      span.catalog__link--small!= item.size
    .catalog__modal(style='display: none;', id="catalog" + i)
      button.close.close--fancybox(type='button')
        i.fa.fa-times
      .row
        .col-12.col-sm-6
          .catalog__image.catalog--height
            .catalog__photo
              img.img-responsive(src=item.img.src, alt=item.img.alt)
            .catalog-description
              .catalog-description__name!= item.name
              .catalog-description__text!= item.descr.name
                span.catalog-description__text--span!= item.descr.value
              .catalog-description__text!= item.term.name
                span.catalog-description__text--span!= item.term.value
        .col-12.col-sm-6
          .catalog__caption.catalog--height
            .catalog__caption--heading!= item.caption.heading
            .catalog__caption--subheading!= item.caption.subheading
            form.row.contactForm( method='post', action='mail/mail.php')
              .col-xs-9
                .form-group
                  input.form-control.catalog__input.form__name(aria-invalid='false', placeholder='Ваше имя', required, name='name', type='text')
                .form-group
                  input.form-control.catalog__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required, name='phone', type='tel')
                .text-center
                  button.g-btn.catalog__button(name='Каталог - ' + i, type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Узнать о коттедже
              .col-xs-3
                i.ic.ic-arrow_fff
section.catalog
  .container
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        h2.g-title.catalog__title Каталог проектов
        h3.g-subtitle.catalog__subtitle с возможностью строительства по договору подряда
    .row
      .col-xs-12.col-sm-8.col-md-8
        .row
          .col-xs-6.col-right
            +itemgallery(1)
          .col-xs-6
            +itemgallery(12)
          .col-xs-6.col-md-3
            +itemgallery(2)
          .col-xs-6.col-md-3
            +itemgallery(3)
      .col-xs-12.col-sm-4.col-md-4.col-right
        .row
          .col-xs-6.col-sm-12.col-md-12
            +itemgallery(4)
          .col-xs-6.col-sm-12.col-md-12
            +itemgallery(5)
      .col-xs-6.col-sm-6.col-md-5
        .row
          .col-xs-12.col-sm-12.col-md-12
            +itemgallery(6)
          .col-xs-12.col-sm-6.col-md-8
            +itemgallery(7)
          .col-xs-12.col-sm-6.col-md-4
            +itemgallery(8)
      .col-xs-6.col-sm-6.col-md-3
        +itemgallery(9)
      .col-xs-6.col-sm-3.col-md-3
        +itemgallery(10)
      .col-xs-6.col-sm-3.col-md-4
        +itemgallery(11)
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1
        .address__border
          .row
            i.col-lg-2.ic.ic-catalogic(class=page.catalog.address.icon)
            .col-lg-10.address__text!= page.catalog.address.text
