mixin itemgallery(i)
  - var item = page.catalog.items[i - 1]
  .gallery__item(class="gallery__item--" + i)
    a.fancyimage.catalog__img(data-fancybox-group='group', href='#catalog' + i)
      span.catalog__link!= item.link.text
      span.catalog__link--small!= item.size
    .catalog__modal(style='display: none;', id="catalog" + i)
      .row
        .col-24.col-md-12
          .catalog__image.catalog--height
            img.img-fluid(src=item.img.src, alt=item.img.alt)
            .catalog-description
              .catalog-description__name!= item.name
              .catalog-description__text!= item.descr.name
                span.catalog-description__text--span!= item.descr.value
              .catalog-description__text!= item.term.name
                span.catalog-description__text--span!= item.term.value
        .col-24.col-md-12
          .catalog__caption.catalog--height
            .catalog__caption--heading!= item.caption.heading
            .catalog__caption--subheading!= item.caption.subheading
            form.row.contactForm( method='post', action='mail/mail.php')
              .col-18
                .form-group
                  input.form-control.catalog__input.form__name(aria-invalid='false', placeholder='Ваше имя', required, name='name', type='text')
                .form-group
                  input.form-control.catalog__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required, name='phone', type='tel')
                .text-center
                  button.g-btn.catalog__button(name='Каталог - ' + i, type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Узнать о коттедже
              .col-6
                i.ic.ic-arrow_fff
section.catalog
  .container
    .row.justify-content-center
      .text-center.col-24.col-md-20.col-lg-16
        h2.g-title.catalog__title!= page.catalog.heading
        h3.g-subtitle.catalog__subtitle!= page.catalog.descr
    .row
      .col-24.col-md-18.col-lg-16
        .row
          .col-24.col-md-16.col-lg-18
            +itemgallery(1)
          .col-12.col-md-8.col-lg-6
            +itemgallery(2)
          .col-12.col-md-8.col-lg-6
            +itemgallery(3)
      .col-24.col-md-6.col-lg-8.col-right
        .row
          .col-12.col-md-24
            +itemgallery(4)
          .col-12.col-md-24
            +itemgallery(5)
      .col-12.col-lg-10
        .row
          .col-24
            +itemgallery(6)
          .col-24.col-md-12.col-lg-16
            +itemgallery(7)
          .col-24.col-md-12.col-lg-8
            +itemgallery(8)
      .col-12.col-lg-6
        +itemgallery(9)
      .col-12.col-lg-6
        +itemgallery(10)
      .col-12.col-md-6.col-lg-8
        +itemgallery(11)
    .row.justify-content-center
      .text-center.col24.col-md-20
        .address__border
          .row
            i.col-xl-4(class=page.catalog.address.icon)
            .col-xl-20.address__text!= page.catalog.address.text