section.contento.contento--gorodok
  .gorodok
    .container
      .gorodok__advantage
        .row.gorodok__row
          .col-xs-12.col-md-6.gorodok__col
            .gorodok__img.gorodok__img--1
              img.img-responsive(src='img/about1.png', alt='')
          .col-xs-12.col-md-6  
            .gorodok__title!=content.about.heading
            .gorodok__text!=content.about.text
        .row.gorodok__row
          .col-xs-12.col-md-6    
            .gorodok__img
              img.img-responsive(src='img/about2.png', alt='')
          .col-xs-12.col-md-6  
            .gorodok__box.gorodok__box--1
              .gorodok__heading!=content.about.section1.heading
              .gorodok__subheading
                i.fa.fa-map-signs.gorodok__icon
                !=content.about.section1.subheading
              .gorodok__text.gorodok__text--light!=content.about.section1.text
        .row.gorodok__row
          .col-xs-12.col-md-6.gorodok__col
            .gorodok__img      
              img.img-responsive(src='img/about3.png', alt='')
          .col-xs-12.col-md-6.col-lg-5.col-lg-offset-1
            .gorodok__box.gorodok__box--2
              .gorodok__heading!=content.about.section2.heading
              .row
                .col-xs-12.col-sm-5.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1.gorodok__float
                      i.ic.ic--about1
                    .col-xs-10.col-sm-10.col-md-11.gorodok__float 
                      .gorodok__point!=content.about.section2.text1
                .col-xs-12.col-sm-4.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1.gorodok__float
                      i.ic.ic--about2
                    .col-xs-10.col-sm-10.col-md-11.gorodok__float 
                      .gorodok__point!=content.about.section2.text2
                .col-xs-12.col-sm-3.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1.gorodok__float
                      i.ic.ic--about3
                    .col-xs-10.col-sm-10.col-md-11.gorodok__float 
                      .gorodok__point!=content.about.section2.text3
                .col-xs-12.col-sm-6.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1.gorodok__float
                      i.ic.ic--about4
                    .col-xs-10.col-sm-10.col-md-11.gorodok__float  
                      .gorodok__point!=content.about.section2.text4
                .col-xs-12.col-sm-6.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1.gorodok__float
                      i.ic.ic--about5
                    .col-xs-10.col-sm-10.col-md-11.gorodok__float 
                      .gorodok__point!=content.about.section2.text5
        .row.gorodok__row
          .col-xs-12.col-md-6
            .gorodok__scheme
              img.img-responsive(src='img/about4.png', alt='')
              .row
                .scheme__box.scheme__box--1
                  .scheme__btn
                    i.ic.ic--scheme.scheme__icon
                    i.scheme__icon.scheme__icon--hover -
                    .scheme__info.scheme__info--left
                      | Кровля
                      br
                      |                 Битумная черепица, утеплитель 200 мм
                .scheme__box.scheme__box--2
                  .scheme__btn
                    i.ic.ic--scheme.scheme__icon
                    i.scheme__icon.scheme__icon--hover -
                    .scheme__info.scheme__info--right
                      | Окна
                      br
                      | Современный 2-камерный ПВХ стеклопакет, 5-камерный профиль, обеспечат максимальное энергосбережение и шумопоглощение
                .scheme__box.scheme__box--3
                  .scheme__btn
                    i.ic.ic--scheme.scheme__icon
                    i.scheme__icon.scheme__icon--hover -
                    .scheme__info.scheme__info--left
                      | Стены
                      br
                      | Газобетон пористый. Утепление фасада- пенополистирол М25, 100 мм
                .scheme__box.scheme__box--4
                  .scheme__btn
                    i.ic.ic--scheme.scheme__icon
                    i.scheme__icon.scheme__icon--hover -
                    .scheme__info.scheme__info--right
                      | Коммуникации
                      br
                      |                 Электричество - 15 кВт по трехфазной системе подключения. Электрическая разводка по домовладениям осуществляется по подземным кабельным сетям.

          .col-xs-12.col-md-6  
            .gorodok__box.gorodok__box--3
              .gorodok__heading!=content.about.section3.heading
              .gorodok__text!=content.about.section3.text
              .gorodok__subheading.gorodok__subheading--margin!=content.about.section3.subheading            
        .row.gorodok__row
          .col-xs-12.col-md-6.gorodok__col
            .gorodok__img.gorodok__img--5
              img.img-responsive(src='img/about5.png', alt='')
          .col-xs-12.col-md-6.col-lg-5.col-lg-offset-1  
            .gorodok__box.gorodok__box--4
              .gorodok__heading!=content.about.section4.heading
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-12.col-md-offset-0
                  .row
                    .col-xs-6
                      .gorodok__pos!=content.about.section4.pos1
                    .col-xs-6
                      .gorodok__value!=content.about.section4.value1  
                  .row
                    .col-xs-6
                      .gorodok__pos!=content.about.section4.pos2
                    .col-xs-6
                      .gorodok__value!=content.about.section4.value2
                  .row
                    .col-xs-6
                      .gorodok__pos!=content.about.section4.pos3
                    .col-xs-6
                      .gorodok__value!=content.about.section4.value3     
        .row.gorodok__row
          .col-xs-12.col-md-6              
            .gorodok__img.gorodok__img--6
              img.img-responsive(src='img/about6.png', alt='')
          .col-xs-12.col-md-6.col-lg-5.col-lg-offset-1
            .gorodok__box.gorodok__box--5
              .gorodok__heading!=content.about.section5.heading
              .row
                .col-xs-12.col-sm-6.col-md-12
                  .row
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about6
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text1
                .col-xs-12.col-sm-6.col-md-12
                  .row      
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about7
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text2
                .col-xs-12.col-sm-6.col-md-12
                  .row      
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about8
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text3
                .col-xs-12.col-sm-6.col-md-12
                  .row      
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about9
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text4
                .col-xs-12.col-sm-6.col-md-12
                  .row      
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about10
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text5
                .col-xs-12.col-sm-6.col-md-12
                  .row      
                    .col-xs-2.col-sm-2.col-md-1
                      i.ic.ic--about11
                    .col-xs-10.col-sm-10.col-md-11
                      .gorodok__point.gorodok__point--margin!=content.about.section5.text6          
        .row
          .col-xs-12.text-center
            .gorodok__subtext!=content.about.subtext
  .gorodok.gorodok--bg
    .container
      .row
        .col-xs-12.col-sm-9.col-md-12
          .gorodok__title.gorodok__title--sm-left!=content.about.zagor.heading
          .gorodok__text.gorodok__text--sm-left!=content.about.zagor.text    
      .gorodok__items
        .row
          .col-xs-12.col-sm-6.col-lg-4
            .gorodok__item
              .gorodok__number!=content.about.zagor.item1.number
              .gorodok__descr!=content.about.zagor.item1.text
          .col-xs-12.col-sm-6.col-lg-8
            .gorodok__item 
              .gorodok__number!=content.about.zagor.item2.number
              .gorodok__descr!=content.about.zagor.item2.text
        .row
          .col-xs-12.col-sm-6
            .gorodok__elem
              .gorodok__elem-img
                img.img-responsive(src='img/elem1.png', alt='')
              .gorodok__elem-text!=content.about.zagor.elem1.text
              .gorodok__elem-subtext!=content.about.zagor.elem1.subtext
          .col-xs-12.col-sm-6
            .gorodok__elem
              .gorodok__elem-img
                img.img-responsive(src='img/elem2.png', alt='')
              .gorodok__elem-text!=content.about.zagor.elem2.text
              .gorodok__elem-subtext!=content.about.zagor.elem1.subtext
          .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center
            a.g-btn.gorodok__btn(href="http://tagopen.com/hutir/projects.html") Другие проекты в городке   
        .row      
          .col-xs-12.col-sm-6
            .gorodok__item
              .gorodok__number!=content.about.zagor.item3.number
              .gorodok__descr!=content.about.zagor.item3.text 
          .col-xs-12.col-sm-6
            .gorodok__item.gorodok__item--last
              .gorodok__number!=content.about.zagor.item4.number
              .gorodok__descr!=content.about.zagor.item4.text 
              i.ic.ic--hand1200.gorodok__hand-ic.hidden-xs.hidden-sm
              i.ic.ic--hand320.gorodok__hand-ic.hidden-md.hidden-lg  
  .gorodok.gorodok--supp
    .container
      .row
        .col-xs-12.col-md-8.col-lg-7          
          .gorodok__title!=content.about.supp.heading
          .gorodok__text!=content.about.supp.text 
          .gorodok__subtext.text-center.gorodok__subtext--left-lg!=content.about.supp.subheading
          .row
            .col-xs-12.col-sm-6.col-md-6
              .genplan__box 
                .genplan__icon
                  i.ic.ic--genic1
                button.g-btn.genplan__btn(data-toggle="modal" data-target="#header__modal") Записаться на просмотр    
            .col-xs-12.col-sm-6.col-lg-6
              .genplan__box 
                .genplan__icon
                  i.ic.ic--genic2
                button.g-btn.genplan__btn(data-toggle="modal" data-target="#header__modal") Получить каталог проектов
        .hidden-xs.hidden-sm.col-md-4.col-lg-5
          .gorodok--supp-img
            img.img-responsive(src='img/suppbg.png', alt='')
                    